

<div class="top">

    <a class="logo_link" routerLink="index">
            <img class="top_img" src="assets/images/samplelogo.png" alt="brand logo">
            <div class="nav_note">
                    <h1>Timesheet Reminder</h1>
                    <p>a solution for your oblivion...</p>
            </div>
    </a>

    <a class="home_icon" routerLink="index"><img src="assets/images/home.png" alt="home image"></a>
    <div class="nav_login">

            <a routerLink="login"><img src="assets/images/login.png" alt="login image"></a>


    </div>