<div id="timesheet">
    <div class="timesheet-nav-div">
      <a routerLink="/my_timesheet">
          <figure class="timesheet-img">
              <img src="assets/images/mytimesheet.png" alt="my timesheet">
              <p class="timesheet-caption">My <span>Timesheet</span></p>

          </figure>
      </a>
    </div>
    <hr class="timesheet-hr">
    <div class="timesheet-nav-div">
      <a routerLink="/timesheet_record">
          <figure class="timesheet-img">
              <img src="assets/images/timesheet_record.png" alt="timesheet record">
                <p class="timesheet-caption">Records</p>
          </figure>
      </a>
    </div>


  </div>
  <div id="content">

  </div>