<!-- <p>
       Success, You're are in!
    </p>
    <p>
        You're not registered, Contact your manager.
    </p> -->
    <div id="afterGetData">
        <!-- append -->

        <section style="
    position: absolute;
    top: 50%;
    left: 40%;">
          <!-- <input type="text" name="" value=""> -->
          <input type="text" id="textline" >

          <button id="rememberer" onclick='myfunction1()'>remember text</button>

          <button id="recaller" onclick='retrieveTask()'>recall text </button>

          <p id="recalledtext">Loading</p>
        </section>
        <section class="tableclass">
            <table id="table-to" class="record-table" style="border:1px solid black">
                <thead>
                    <tr>
                        <th id="tableclass_head">TaskName</th>
                        <th id="tableclass_head">Time_in</th>
                        <th id="tableclass_head">Time_out</th>
                        <th id="tableclass_head">Total(hours)</th>
                        <th id="tableclass_head">Comments</th>
                    </tr>
                </thead>
                <tbody id="table-to-body">

                </tbody>
            </table>
        </section>





    </div>