<section class="content wrap">

  <div>
    <h1>Barcode scanner</h1>
    <p><strong>Instructions:</strong></p>
    <ul>
      <li>Click the barcode to view <br> and point your screen towards the camera.</li>
    </ul>
    <p><strong>Important notes:</strong></p>
    <ul>
      <li>Make sure to allow the browser to access your camera.</li>

    </ul>
  </div>
</section>
<section class="qr_class">
  <aside>
    <div>

      <a id="btn-scan-qr">
        <img src="assets/images/qr.png" alt="qr image">
      </a>

      <canvas hidden="" id="qr-canvas"></canvas>

    </div>
  </aside>
</section>
<section id="table-id">
  <div class="table_align">
    <!-- <strong>Scanned codes:</strong>
                <ul class="codes_list"></ul>
                <div > -->
    <table>
      <thead>
        <th id="table_align_head">S NO</th>
        <th id="table_align_head">Name</th>
        <th id="table_align_head">Employee_Id</th>
        <th id="table_align_head">Email</th>
        <th id="table_align_head">Time_in</th>
        <th id="table_align_head">Time_out</th>
      </thead>
      <tbody id="qr-result" hidden=""></tbody>

    </table>
    <p id="outputData"></p>
  </div>




</section>