<section class="my_timesheet_table">
    <table id="list" class="my_timesheet_class">
        <thead>
            <tr>
                <th id="my_timesheet_table_head">TaskName</th>
                <th id="my_timesheet_table_head">Time_in</th>
                <th id="my_timesheet_table_head">Time_out</th>
                <th id="my_timesheet_table_head">Total(hours)</th>
                <th id="my_timesheet_table_head">Comments</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>Created index page</td>
                <td>9:00 </td>
                <td> 6:00</td>
                <td>9</td>
                <td>Nill</td>
            </tr> -->

        </tbody>

    </table>
</section>
<!-- <div class="my_timesheet_div"></div> -->

    <!-- <a href="timesheet_record.html"><h3>Done</h3></a> -->


<div class="add_task_form">
    <h3 style="color: whitesmoke;">Add Task</h3>
    <form id="list_task">
        <label for="taskName">Enter Task Name</label><br>
        <input type="text" name="taskName" id="taskName" required autofocus>
        <br>
        <label for="time_in">Enter time in</label><br>
        <input type="number" name="time_in" id="time_in" required>
        <br>
        <label for="time_out">Enter time out</label><br>
        <input type="number" name="time_out" id="time_out" required>
        <br>
        <label for="comments">Enter comments</label><br>
        <input type="text" name="comments" id="comments" required>
        <br>

        <button class="task_button1" id="button" type="button" name="button" value=" Reset " onclick="ResetForm()">Reset</button>
        <button class="task_button2" id="button" type="button" name="button" value=" Add " onclick="AddData()">Add</button>

        <!-- <input class="task_button1" id="button" type="button" value=" Reset " onclick="ResetForm()">&nbsp&nbsp&nbsp
        <input class="task_button2" id="button" type="button" value=" Add " onclick="AddData()"> -->
        <button id="display-button" class="task_button3" onclick="">Submit</button>

    </form>
</div>