<section id="navigate_apps">
    <h2>Welcome to <span>Timesheet Reminder</span> </h2>
    <div class="navigate_line"></div>
    <div class="navigate_inside">
        <h3>Login via..</h3>
        <div class="navigate_image"> <a routerLink="/qrcode">
                <figure>
                    <img src="assets/images/qrcode.png" alt="qr code">
                    <figcaption class="nav-qr-img">QR code</figcaption>
                </figure>
            </a></div>
        <div class="navigate_image"><a routerLink="/login">
                <figure>
                    <img src="assets/images/mail.png" alt="">
                    <figcaption class="nav-qr-img">Email</figcaption>

                </figure>
            </a></div>



    </div>

</section>